<h2>Summary Report</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID#</th>
            <th>Type</th>
            <th>Question</th>
            <th style="text-align: center" >Email<div>Trigger</div></th>
            <th style="text-align: center" >Reporting<div>Threshold</div></th>
            <th colspan="3" style="text-align: center;">Average Value</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td colspan="5"></td>
            <td style="text-align: center">Last 7 Days<div class="record-count">Records: {{statCounts.last7}}</div></td>
            <td style="text-align: center">Last 30 Days<div class="record-count">Records: {{statCounts.last30}}</div></td>
            <td style="text-align: center">Year to Date<div class="record-count">Records: {{statCounts.yeartodate}}</div></td>
        </tr>
        {% for stat in stats %}
            {% if stat.active %}
            <tr>
                <td>{{stat.field}}</td>
                <td>{{stat.type|capitalize}}</td>
                <td>{{stat.question | raw}}</td>
                <td class="stats email-trigger"  >
                    {%if stat.type == 'open'%}
                        {%if stat.emailtrigger %}Input{% else %}None{%endif%}
                    {%else%}
                        {{stat.emailtrigger | capitalize}}
                    {%endif%}
                </td>
                <td class="stats trigger"   >
                    {%if stat.type == 'open'%}
                        N/A
                    {%else%}
                        {%if stat.trigger > 5%}
                            {{stat.trigger|round}}%
                            <span>({%if stat.negative%}No{%else%}Yes{%endif%})</span>
                        {%else%}
                            {{stat.trigger|round(1)}}
                        {%endif%}
                    {%endif%}
                </td>
                <td class="stats last7 {% if stat.trigger > stat.last7 %} trigger-error {%endif%}" >
                    {% if stat.type == 'open' %}
                        {{stat.last7}} <span>(Entr{%if stat.last7 == 1%}y{%else%}ies{%endif%})</span>
                    {%else%}
                        {%if stat.last7 > 5%}{{stat.last7|round}}%  <span>({%if stat.negative%}No{%else%}Yes{%endif%})</span>
                        {%else%}{{stat.last7|round(1)}}{%endif%}
                    {%endif%}
                </td>
                <td class="stats last30 {% if stat.trigger > stat.last30 %} trigger-error {%endif%} ">
                    {% if stat.type == 'open' %}
                        {{stat.last30}} <span>(Entr{%if stat.last30 == 1%}y{%else%}ies{%endif%})</span>
                    {%else%}
                        {%if stat.last30 > 5%}{{stat.last30|round}}%  <span>({%if stat.negative%}No{%else%}Yes{%endif%})</span>
                        {%else%}{{stat.last30|round(1)}}{%endif%}
                    {%endif%}
                </td>
                <td class="stats yeartodate {% if stat.trigger > stat.yeartodate %}trigger-error {%endif%}">
                    {% if stat.type == 'open' %}
                        {{stat.yeartodate}} <span>(Entr{%if stat.yeartodate == 1%}y{%else%}ies{%endif%})</span>
                    {%else%}
                        {%if stat.yeartodate > 5%}{{stat.yeartodate|round}}%  <span>({%if stat.negative%}No{%else%}Yes{%endif%})</span>
                        {%else%}{{stat.yeartodate|round(1)}}{%endif%}
                    {%endif%}
                </td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

