<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- Made with PhileCMS -->
	<meta charset="utf-8" />
	<base href="" />
	<title>Results</title>
	<meta name="description" content="">
	<meta name="robots" content="noindex nofollow">
	
	
	<!-- Bootstrap -->
	<link href="/web/bundles/fgmssurvey/framework/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- font awesome -->
	<link rel="stylesheet" href="/web/bundles/fgmssurvey/framework/font-awesome-4.6.1/css/font-awesome.min.css">
	
	
	<link href='https://fonts.googleapis.com/css?family={{reporting.resources.google.fonts|default('Raleway:400,700,Open+Sans')}}' rel='stylesheet' type='text/css'>		
	<style>
		body {
			color:{{reporting.css.body.font.color|default('#666')}};
			font-family: {{reporting.css.body.font.family|default('Raleway, sans-serif')}};
			background-color: {{reporting.css.body.background.color|default('#f8f8f8')}};
			background-image: url('{{images_path}}{{reporting.images.background.results}}');
		}
		.main {
			min-height: 580px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
		h1 {font-weight: 600; font-size: 38px;}
	</style>
	{% block styles %}{%endblock%}
</head>
<body class="admin">
	<div class="wrapper">
		<header>
			<div class="logo-block secondary-logo">
				<img class="logo" src="{{images_path}}{{config.survey.images.logos.group}}" alt="{{reporting.group.name}}  Logo" />
			</div>
		</header>
		<section>
			{%block body %}{%endblock%}
		</section>
		<footer>
			{%block footer %}{% endblock %}
		</footer>
	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="/web/bundles/fgmssurvey/js/jquery-1.11.3.min.js"></script>
	
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- bootstrap -->
	<script src="/web/bundles/fgmssurvey/framework/bootstrap-3.3.6/js/bootstrap.min.js"></script>
</body>
{% block javascript %}{% endblock %}
</html>