<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<title>{{property.name}} Survey</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="robots" content="noindex,nofollow">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/bundles/fgmssurvey/css/style.css" type="text/css" />
	<script type="text/javascript" src="/bundles/fgmssurvey/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family={{config.survey.resources.google.fonts}}' rel='stylesheet' type='text/css'>
	<style>
		.question-input-visual a .button-circle {color: {{config.survey.css.buttons.survey.background.color.normal}} ; background-color: {{config.survey.css.buttons.survey.background.color.normal}} ;	}
		.question-input-visual a:hover .button-circle {	color:{{config.survey.css.buttons.survey.background.color.hover}};background-color: {{config.survey.css.buttons.survey.background.color.hover}};}
		.question-input-visual a.active .button-circle{	color:{{config.survey.css.buttons.survey.background.color.active}};background-color: {{config.survey.css.buttons.survey.background.color.active}};}
		.questionnaire-nav i {	color: #f8f8f8; }
		.questionnaire-nav i:hover {color: {{config.survey.css.buttons.survey.background.color.hover}}}
		{% if config.survey.css.title.letterspacing is defined and config.survey.css.title.letterspacing %}
		.question-title { letter-spacing: {{config.survey.css.title.letterspacing}}; }
		{% endif %}
		.button-text {	color: {{config.survey.css.buttons.survey.font.color.normal}}; font-family: {{config.survey.css.buttons.survey.font.family | raw }};}
		body { color: {{config.survey.css.body.font.color}}; font-family: {{config.survey.css.body.font.family | raw }}; background-color: {{config.survey.css.body.background.color}};  background-image: url('{{images_path}}{{config.survey.images.background.survey}}');}
		.wizard > .content{ background: url('{{images_path}}{{config.survey.images.overlay}}') repeat top left;}
		.wizard a { color: {{config.survey.css.body.font.color}};}
		.form-control:focus {border-color: {{config.survey.css.buttons.survey.background.color.normal}}; }
		.btn-primary {background-color: {{config.survey.css.buttons.navigation.background.color.normal}}; border-color: {{config.survey.css.buttons.navigation.background.color.normal}}; color: {{config.survey.css.buttons.navigation.font.color.normal}} !important;}
		.btn-primary:hover {background-color: {{config.survey.css.buttons.navigation.background.color.hover}} !important; border-color: {{config.survey.css.buttons.navigation.background.color.hover}} !important;}
		.start-over-button a {background: url('{{images_path}}{{config.survey.images.overlay}}') repeat top left ; color: {{config.survey.css.buttons.survey.background.color.normal}}; }
		.start-over-button a:hover { color: {{config.survey.css.buttons.survey.font.color.normal}}; background-color: {{config.survey.css.buttons.survey.background.color.hover}} !important; background-image: none;}
	</style>
	{% block styles %}{%endblock%}
</head>
<body>
	<div class="header">
		<div class="column-wrapper">
			<div class="row">
				<div class="col-xs-6"><img style="" class="" src="{{images_path}}{{config.survey.images.logos.white}}" alt="{{property.name}}" /></div>
				{% if config.survey.images.logos.group | default(false) %}
				<div class="col-xs-6" style="text-align: right;"><img style="" class="" src="{{images_path}}{{config.survey.images.logos.group}}" alt="{{reporting.group.name|default('')}}  Logo" /></div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main">
			<div class="column-wrapper">
				<div class="row">
					<div class="col-sm-12">	{%block body %}{%endblock%}	</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="column-wrapper">
			{%block footer %}{% endblock %}
		</div>
	</div>
</body>
{% block javascript %}{% endblock %}
</html>
