{% extends 'FgmsSurveyBundle:Default:base.html.twig' %}
{%block body%}
<div id="questionnaire" class=" wizard question-finish " style="display: none;">
	<div class="content">
		<div class="body">
			{% if conditionalFinish %}
				<div class="question-title">
					<h1>{{config.survey.text.finish.conditional.title | raw }}</h1>
					<h2>{{config.survey.text.finish.conditional.subtitle | raw}}</h2>
					<p>{{config.survey.text.finish.conditional.content | raw}}</p>
				
					<a class="{{config.survey.text.finish.conditional.button.class}}" target="_blank" href="{{config.survey.text.finish.conditional.button.link}}">{{config.survey.text.finish.conditional.button.text}}</a>
				</div>
			{% else %}
				<div class="question-title">
					<h1>{{config.survey.text.finish.title | raw}}</h1>
					<h2>{{config.survey.text.finish.subtitle | raw}}</h2>
				
					<a class="btn btn-lg btn-primary" href="/{{fullslug}}/start/">Restart</a>
				</div>
			{% endif %}

		</div>
	</div>
</div>
{% endblock%}
{%block footer%}
{% if conditionalFinish %}
	<div class="start-over-button">
		<a href="/{{fullslug}}/start/" class="btn btn-primary btn-md">Restart</a>
	</div>
{% endif %}
{% endblock %}
{%block styles %}{% endblock %}
{% block javascript %}<script type="text/javascript">	$(function(){	$('#questionnaire').fadeIn(1000);})</script>{% endblock %}
