{% extends 'FgmsSurveyBundle:Default:admin.html.twig' %}

{%block body%}

	<div class="fade-in-out-wrapper">

		{#<img class="img-responsive property-logo" src="{{images_path}}{{config.survey.images.logos.color}}" alt="{{property.name}}  Logo" />#}
	<div class="row" style="margin-bottom: 24px;">
		<div class="col-sm-8">
			<h1 style="">{{config.survey.text.results.title}}</h1>
			<h2 style="margin: 0; font-size: 22px;  ">{{property.name}}</h2>
			<p>All result time periods are UTC</p>
			<p>
				<a class="btn btn-primary " href="/{{fullslug}}/start/" target="_blank">Preview Guest Survey</a>
			</p>


		</div>
		<div class="col-sm-4">
			<div class="form-group">
				{% if reporting.group.properties|length > 0%}
					{% for property in reporting.group.properties %}
						{% if property.token == key and property.items|default([])|length > 0 %}
							<select class="form-control" id="property-changer">
							{% for item in property.items %}
							<option data-key="{{key}}" value="{{item.slug}}" {% if fullslug == item.slug%}SELECTED{%endif%}>{{item.name}}</option>
							{% endfor %}
							</select>
						{% endif %}
					{% endfor%}

			{% endif %}
			</div>
		</div>
	</div>

	<!-- Nav tabs -->

	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#summaryReport" aria-controls="home" role="tab" data-toggle="tab">Summary Report</a></li>
		{% if enables.performance_charating | default(false) %}
	  <li role="presentation">
			<a href="#performanceCharting" aria-controls="profile" role="tab" data-toggle="tab">Performance Charting</a>
		</li>
		{% endif %}

		{% if enables.guest_feedback | default(false) %}
	  <li role="presentation">
			<a href="#guestFeedback" aria-controls="messages" role="tab" data-toggle="tab">Guest Feedback</a>
		</li>
		{% endif %}
		{% if enables.suvery_configuration | default(false) %}
		<li role="presentation"><a href="#surveyConfiguration" aria-controls="settings" role="tab" data-toggle="tab">Survey Configuration</a></li>
		{% endif %}

	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="summaryReport">
			{% include 'FgmsSurveyBundle:Default:includes/admin-summary-report.html.twig' ignore missing %}
		</div>

		{% if enables.performance_charating | default(false) %}
		<div role="tabpanel" class="tab-pane" id="performanceCharting" style="overflow: hidden">
			{% include 'FgmsSurveyBundle:Default:includes/admin-performance-charting.html.twig' ignore missing %}
		</div>
		{% endif %}

		{% if enables.guest_feedback | default(false) %}
		<div role="tabpanel" class="tab-pane" id="guestFeedback" style="overflow: hidden">
			{% include 'FgmsSurveyBundle:Default:includes/admin-guest-feedback.html.twig' ignore missing %}
		</div>
		{% endif %}

		{% if enables.suvery_configuration | default(false) %}
		<div role="tabpanel" class="tab-pane" id="surveyConfiguration">
			{% include 'FgmsSurveyBundle:Default:includes/admin-survey-configuration.html.twig' ignore missing %}
		</div>
		{% endif %}
	</div>
	</div>
{% endblock%}
{%block styles %}
<style>
	.main { background: #fff; min-height: 635px !important; padding-top: 48px;}
	.trigger-error {color: red; font-weight: bold;}
	.trigger-error span {color: #666; font-weight: normal;}
	h1 {padding-top: 0; margin-top: 0;}
	.form-control {font-size: 1.4em;}
	td span {font-size: 0.9em; font-style: italic;}
	td .record-count {font-size: 0.85em; font-style: italic;;}
	td.stats {text-align: center;}
</style>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$(function(){
		$('#property-changer').on('change',function(){
			$('table, h2, a').fadeOut();
			location.href = '{{ app.request.getSchemeAndHttpHost() }}/'+ $(this).val() +'/results/?key='+ $(this).find('option[value="'+$(this).val()+'"]').data('key')
		});
	})
</script>

{% endblock %}
