{% extends 'FgmsSurveyBundle:Default:admin.html.twig' %}

{%block body%}
	
	<div class="fade-in-out-wrapper">
	<div class="row" style="margin-bottom: 24px;">
		<div class="col-sm-8">
			<h1 style="">{{config.survey.text.results.title}}</h1>
			<h2 style="margin: 0; font-size: 22px;  ">{{property.name}}</h2>
			<p>All result time periods are UTC</p>
			<a href="/{{fullslug}}/start/" target="_blank">{{ app.request.getSchemeAndHttpHost() }}/{{fullslug}}/start/</a>
			<div style="padding: 24px 0;">
				<a class="btn btn-primary btn-sm" href="/{{fullslug}}/csv/">Download Survey Results</a>
			</div> 
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				{% if reporting.group.properties|length > 0%}
					{% for property in reporting.group.properties %}
						{% if property.token == key and property.items|length > 0 %}
							<select class="form-control" id="property-changer">
							{% for item in property.items %}
							<option data-key="{{key}}" value="{{item.slug}}" {% if fullslug == item.slug%}SELECTED{%endif%}>{{item.name}}</option>
							{% endfor %}
							</select>
						{% endif %}
					{% endfor%}

			{% endif %}
			</div>
		</div>
	</div>
	
	//Summary Report, Performance Charting, Guest Feedback, Surey Configuration
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#summaryReport" aria-controls="home" role="tab" data-toggle="tab">Summary Report</a></li>
	  <li role="presentation"><a href="#performanceCharting" aria-controls="profile" role="tab" data-toggle="tab">Performance Charting</a></li>
	  <li role="presentation"><a href="#guestFeedback" aria-controls="messages" role="tab" data-toggle="tab">Guest Feedback</a></li>
	  <li role="presentation"><a href="#surveyConfiguration" aria-controls="settings" role="tab" data-toggle="tab">Survey Configuration</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class"tab-pane active" id="summaryReport">			
			{% include 'includes/admin-summary-report.html.twig' ignore missing %}
		
		</div>
		<div role="tabpanel" class"tab-pane" id="performanceCharting">			
			{% include 'includes/admin-performance-charting.html.twig' ignore missing %}
		</div>
		<div role="tabpanel" class"tab-pane" id="guestFeedback">			
			{% include 'includes/admin-guest-feedback.html.twig' ignore missing %}
		
		</div>
		<div role="tabpanel" class"tab-pane" id="surveyConfiguration">			
			{% include 'includes/admin-survey-configuration.html.twig' ignore missing %}
		
		</div>		
	</div>	
	</div>
{% endblock%}
{%block styles %}
<style>
	.main { background: #fff; min-height: 635px !important; padding-top: 48px;}
	.trigger-error {color: red; font-weight: bold;}
	.trigger-error span {color: #666; font-weight: normal;}
	h1 {padding-top: 0; margin-top: 0;}
	.form-control {font-size: 1.4em;}
	td span {font-size: 0.9em; font-style: italic;}
	td .record-count {font-size: 0.85em; font-style: italic;;}
	td.stats {text-align: center;}
</style>

{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$(function(){
		$('#property-changer').on('change',function(){
			$('table, h2, a').fadeOut();
			location.href = '{{ app.request.getSchemeAndHttpHost() }}/'+ $(this).val() +'/results/?key='+ $(this).find('option[value="'+$(this).val()+'"]').data('key')
		});
	})
</script>

{% endblock %}
