{% extends 'FgmsSurveyBundle:Default:base.html.twig' %}
{%block body%}
<div id="questionnaire" class="" style="display: block">
{{ form_start(form)}}
{{ form_end(form)}}
	{% set count = 0 %}
	{% for question in activequestions %}
		<div class="questionnaire-dots"></div>
		<section>
			<div class="question-index">{{loop.index}} of {{loop.length}}</div>
			<div class="question-title">{{question.title | raw}}</div>
			{% if question.type == 'polar'  %}
				<div class="question-input-visual ">
					<a href="javascript:void(0)" data-field="{{question.field}}" data-value="Yes">
						<span class="fa-stack fa-lg button-circle">
							<i class="fa  fa-circle fa-stack-2x"></i>
							<i class="fa  fa-stack-1x button-boolean button-text" >Yes</i>
						</span>
					</a>
					<a href="javascript:void(0)" data-field="{{question.field}}" data-value="No">
						<span class="fa-stack fa-lg button-circle">
							<i class="fa  fa-circle fa-stack-2x"></i>
							<i class="fa  fa-stack-1x button-boolean button-text" >No</i>
						</span>
					</a>
				</div>
			{% elseif question.type == 'rating'  %}
				<div class="question-input-visual">
					<a href="javascript:void(0)" data-field="{{question.field}}" data-value="5">
						<span class="fa-stack fa-lg button-circle">
							<i class="fa  fa-circle fa-stack-2x"></i>
							<i class="fa  fa-stack-1x button-rating button-text" >5</i>
						</span>
						<div class="rating-text"><strong><i class="fa fa-smile-o "></i></strong> Excellent</div>
					</a>
					<a href="javascript:void(0)" data-field="{{question.field}}"  data-value="4">
						<span class="fa-stack fa-lg button-circle">
							<i class="fa  fa-circle fa-stack-2x"></i>
							<i class="fa  fa-stack-1x button-rating button-text" >4</i>
						</span>
					</a>
					<a href="javascript:void(0)" data-field="{{question.field}}"  data-value="3">
						<span class="fa-stack fa-lg button-circle">
							<i class="fa  fa-circle fa-stack-2x"></i>
							<i class="fa  fa-stack-1x button-rating button-text" >3</i>
						</span>
						<div class="rating-text"><strong><i class="fa fa-meh-o"></i></strong> Average</div>
					</a>
					<a href="javascript:void(0)" data-field="{{question.field}}"  data-value="2">
						<span class="fa-stack fa-lg button-circle">
							<i class="fa  fa-circle fa-stack-2x"></i>
							<i class="fa  fa-stack-1x button-rating button-text" >2</i>
						</span>
					</a>

					<a href="javascript:void(0)" data-field="{{question.field}}"  data-value="1">
						<span class="fa-stack fa-lg button-circle">
							<i class="fa  fa-circle fa-stack-2x"></i>
							<i class="fa  fa-stack-1x button-rating button-text" >1</i>
						</span>
						<div class="rating-text"><strong><i class="fa fa-frown-o"></i></strong> Poor</div>
					</a>
				</div>
			{% elseif question.type == 'open'   %}

				<div class="form-group form-comment">
					<textarea class="form-control" data-field="{{question.field}}" ></textarea>
					{% if question.testimonial %}
						<div class="checkbox">
							<label>
								<input type="checkbox" class="script-testimonial" data-question="{{question.field}}" value="true" /> Use as Testimonial
							</label>
						</div>
						
					{% endif %}
				</div>
				{% if loop.index == loop.length%}
					<div class="form-group question-input-visual">
						<a class="btn  btn-primary  btn-md finish-button" href="javascript:void(0);" >Finish</a>
					</div>
				{% else %}
					<div class="form-group question-input-visual">
						<a class="btn  btn-primary  btn-md" onclick="$('.nav-next').trigger('click')" href="javascript:void(0);" >Next</a>
					</div>
				{% endif %}
			{% else %}
			{% endif %}
		</section>

	{% endfor %}
</div>
<div  class="questionnaire-nav">
	<a href="javascript:void(0)" class="nav-prev" style="display:none;"><i class="fa fa-caret-left"></i></a>
	<a href="javascript:void(0)" class="nav-next" style="display:none;"><i class="fa fa-caret-right"></i></a>
	<div class="clearfix" style="clear:both;"></div>
</div>
{% endblock%}
{%block footer%}
{#<div class="start-over-button"><a href="/{{fullslug}}/survey/?room={{room}}">Start Over</a></div>#}
{% endblock %}
{%block styles %}
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="/web/bundles/fgmssurvey/js/jquery.steps.min.js"></script>
<script type="text/javascript">
	$(function(){

		$("#questionnaire").steps({
			headerTag: ".questionnaire-dots",
			titleTemplate : '#title#',
			bodyTag: "section",
			transitionEffect: "slideLeft",
			transitionEffectSpeed: "600",
			autoFocus: true,
			onInit: function(event, currentIndex){
				setNavEnables(currentIndex);

			},
			onStepChanging: function (event, currentIndex, newIndex) { return true; },
			onStepChanged: function (event, currentIndex, priorIndex) {
				setNavEnables(currentIndex);
				/*if (currentIndex == 0) {$('.nav-prev').addClass('disabled');}
				else {	$('.nav-prev').removeClass('disabled');	}*/
			},
			onCanceled: function (event) { },
			onFinishing: function (event, currentIndex) {
				return true;
			},
			onFinished: function (event, currentIndex) {
				$('form').submit();
			},
			labels: {
				cancel: "Cancel",
				current: "current step:",
				pagination: "Pagination",
				finish: "Finish",
				next: "Next",
				previous: "Previous",
				loading: "Loading ..."
			}
		});
		$('#questionnaire').fadeIn(1000);
		
		{# 	When testimonial input box is clicked will create json object of all testimonial checboxes that are enabled in hidden field name="testimonialData", which gets saves in database #}
		$('.script-testimonial').on('change',function(){
			var testimonialData = [];
			$('.script-testimonial').each(function(){
				
				if ($(this).is(':checked')) {
					var fieldObj = new Object();
					fieldObj.field = $(this).attr('data-question');
					testimonialData.push(fieldObj);
				}
				
			})
			$('#form_testimonialData').val(JSON.stringify(testimonialData))
			
		});
		$('.finish-button').on('click',function(){
			$('a[href="#finish"]').trigger('click');
		});
		$('textarea[data-field], input[data-field]').on('change',function(){
			$('*[name="form['+ $(this).data('field') +']"]').val($(this).val());
		});
		$('a[data-field]').on('mouseup',function(e){
			$(this).closest('.question-input-visual').find('*[data-field]').removeClass('active');
			var dataValue = $(this).data('value');
			$('*[name="form['+ $(this).data('field') +']"]').val(dataValue);
			$(this).addClass('active');
			if ($('a[href="#next"]').parent().attr('aria-disabled') == 'true') {
				$('a[href="#finish"]').trigger('click');
			}
			else {
				$('a[href="#next"]').trigger('click');
			}
			return false;
		})
		$('a[data-field]').on('touchstart',function(e){
			$(this).closest('.question-input-visual').find('*[data-field]').removeClass('active');
			var dataValue = $(this).data('value')
			$('*[name="form['+ $(this).data('field') +']"]').val(dataValue);
			$(this).addClass('active');
			console.log($('a[href="#next"]').parent().attr('aria-disabled'))
			if ($('a[href="#next"]').parent().attr('aria-disabled') == 'true') {
				$('a[href="#finish"]').trigger('click');
			}
			else {
				$('a[href="#next"]').trigger('click');
			}
			return false;
		});
		//attaches triggers on the forward back nav arrows to move questionnaire
		$('.nav-prev').on('click',function(){$('a[href="#previous"]').trigger('click');	})
		$('.nav-next').on('click',function(){$('a[href="#next"]').trigger('click');	})

		function setNavEnables(currentIndex) {
			var prevIndex = currentIndex - 1;
			var nextIndex = currentIndex + 1;
			prevIndex = (prevIndex < 0 )? 0 : prevIndex;
			var inputFieldPrev = $('#questionnaire-p-'+prevIndex).find('*[data-field]').data('field');
			var inputFieldCurrent = $('#questionnaire-p-'+currentIndex).find('*[data-field]').data('field');
			var inputFieldNext = $('#questionnaire-p-'+nextIndex).find('*[data-field]').data('field');
			if ($('*[name="form['+inputFieldPrev+']"]').val().length > 0){
				$('.nav-prev').fadeIn();
			}
			else {
				$('.nav-prev').fadeOut();
			}
			if ($('*[name="form['+inputFieldNext+']"]').length > 0){
				if ( ($('*[name="form['+inputFieldNext+']"]').val().length > 0) || ($('*[name="form['+inputFieldCurrent+']"]').val().length > 0) ){
					$('.nav-next').fadeIn();
				}
				else {
					$('.nav-next').fadeOut();
				}
			}
			else {
				$('.nav-next').fadeOut();
			}

			if (currentIndex == 0) {$('.nav-prev').fadeOut();}
		}
	})
</script>
{% endblock %}
