<div class="question-input-visual">
    <a href="javascript:void(0)" data-field="{{field}}" data-value="5">
        <span class="fa-stack fa-lg button-circle">
            <i class="fa  fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x button-rating button-text" >5</i>
        </span>
        <div class="rating-text"><strong><i class="fa fa-smile-o "></i></strong> Excellent</div>
    </a>
    <a href="javascript:void(0)" data-field="{{field}}"  data-value="4">
        <span class="fa-stack fa-lg button-circle">
            <i class="fa  fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x button-rating button-text" >4</i>
        </span>
    </a>
    <a href="javascript:void(0)" data-field="{{field}}"  data-value="3">
        <span class="fa-stack fa-lg button-circle">
            <i class="fa  fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x button-rating button-text" >3</i>
        </span>
        <div class="rating-text"><strong><i class="fa fa-meh-o"></i></strong> Average</div>
    </a>
    <a href="javascript:void(0)" data-field="{{field}}"  data-value="2">
        <span class="fa-stack fa-lg button-circle">
            <i class="fa  fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x button-rating button-text" >2</i>
        </span>
    </a>
    <a href="javascript:void(0)" data-field="{{field}}"  data-value="1">
        <span class="fa-stack fa-lg button-circle">
            <i class="fa  fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x button-rating button-text" >1</i>
        </span>
        <div class="rating-text"><strong><i class="fa fa-frown-o"></i></strong> Poor</div>
    </a>
</div>